Repository eclipse/openvsx, pull requests merged in 2022-11, with the labels that each got.

#522 Add member to namespace dialog improvements
  webui/src/pages/user/add-namespace-member-dialog.tsx
Labels: enhancement, webui

#612 Fix color of extension detail view links
  webui/src/pages/extension-detail/extension-detail-overview.tsx
Labels: bug, webui

#616 Add error handling to webui extension publishing code
  webui/src/pages/user/publish-extension-dialog.tsx
Labels: webui
